# dependências
/node_modules

# build
/.next
/out
/build

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dev.log

# ambiente
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# sistema
.DS_Store
*.swp
*.swo